body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.information-section, .signup-section {
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.content > * {
    flex-grow: 1;
}
.hero-section, .information-section, .quote-section, .signup-section {
    padding: 0px 96px 0px 96px;
}

/* Hero Section */
.hero-section {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

ul {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;

}

li {
    list-style-type: none;

}


.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex: 1;

}

.hero-left {

}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    
}


.hero-image {
    width: 50%;
    height: auto;
}

/* information section */

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.information-section-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.information-section-content {
    display: flex;
    justify-content: space-around;
    flex-grow: auto;
}

.information-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: auto;
}

.information-block-image {
    width: 150px;
    height: 150px;
    border: solid, 5px, lightblue;
    border-radius: 15px;

}

.block-text {
    text-align: center;

}

/* quote section */



.hero-section, footer{
    background-color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

footer {
    display: flex;
    padding: 32px;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}
